body {
    font-family: sans-serif;
    background: #222;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1,
h2 {
    color: #FFD700;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th,
td {
    border: 1px solid #444;
    padding: 0.5rem;
}

th {
    background: #333;
}

tr:nth-child(even) {
    background: #222;
}

a {
    text-decoration: none;
    color: #222;
    background: #FFD700;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

a:hover {
    background: #ffcd00;
}